<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net471" />
  <package id="WPFToolkit.DataVisualization" version="3.5.50211.1" targetFramework="net471" />
  <package id="YshXaf.DevExpress.Data_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.Images_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.Map.Core_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.Mvvm_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.Office.Core_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.Pdf.Core_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.Printing.Core_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.RichEdit.Core_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.Sparkline.Core_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.Utils_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.Xpf.Core_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.Xpf.Docking_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.Xpf.DocumentViewer.Core_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.Xpf.Grid.Core_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.Xpf.Grid_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.Xpf.Layout.Core_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.Xpf.LayoutControl_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.Xpf.Map_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.Xpf.Printing_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.Xpf.Ribbon_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.Xpf.Themes.Office2016White_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.XtraBars_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.XtraEditors_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.XtraLayout_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.XtraMap_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.XtraPrinting_yesfree" version="18.2.5" targetFramework="net45" />
  <package id="YshXaf.DevExpress.XtraTreeList_yesfree" version="18.2.5" targetFramework="net45" />  
</packages>
